# Environment
NODE_ENV=development
PORT=3000

# Database Connection
DATABASE_URL=postgresql://rahuljaggi@localhost:5432/nhtsa_db

# NHTSA External API
NHTSA_BASE_URL=https://vpic.nhtsa.dot.gov/api
NHTSA_GET_ALL_MAKES_URL=https://vpic.nhtsa.dot.gov/api/vehicles/getallmakes?format=json
NHTSA_VEHICLE_TYPES_URL=https://vpic.nhtsa.dot.gov/api/vehicles/GetVehicleTypesForMakeId

# Operational Variables
LOG_LEVEL=log
NHTSA_TIMEOUT=5000
NHTSA_MAX_RETRIES=3
NHTSA_CONCURRENCY=5